$xs-width: 0px;
$sm-width: 600px;
$md-width: 900px;
$lg-width: 1200px;
$xl-width: 1536px;

@mixin xs {
	@media (max-width: #{$sm-width - 1px}) {
		@content;
	}
}

@mixin sm {
	@media (min-width: #{$sm-width}) {
		@content;
	}
}

@mixin md {
	@media (min-width: #{$md-width}) {
		@content;
	}
}

@mixin lg {
	@media (min-width: #{$lg-width}) {
		@content;
	}
}

@mixin xl {
	@media (min-width: #{$xl-width}) {
		@content;
	}
}
