@use '../mixins/breakpoints.module.scss' as *;

.accordion {
	.accordion-summary-text {
		font-size: 1.4rem;

		@include sm {
			font-size: 1.6rem;
		}

		@include md {
			font-size: 1.8rem;
		}
	}

	.accordion-details-text {
		color: #333;
	}
}
