@use '../mixins/breakpoints.module.scss' as *;
@use '../mixins/common.module.scss' as *;

.article {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	text-align: center;

	@include sm {
		padding: 2rem 4rem;
	}

	@include md {
		padding: 4rem;
		text-align: left;
		align-items: flex-start;
	}

	.article-index {
		@include md {
			position: absolute;
			font-size: 1.4rem;
			top: 16px;
			left: 16px;
			user-select: none;
		}
	}

	.article-image {
		@include unclickable;
		width: 100px;
		height: auto;

		@include md {
			width: 120px;
		}
	}
}
