@use '../mixins/breakpoints.module.scss' as *;
@use '../variables/theme.module.scss' as *;

.footer {
	background-color: rgb(0, 0, 0, 0.9);
	padding: 3rem 2rem;
	color: $primary-color;
	text-align: center;

	.footer-content {
		> *:not(:last-child) {
			margin-bottom: 4rem;

			@include md {
				margin-bottom: 0rem;
			}
		}
	}

	.footer-links {
		svg,
		path {
			fill: $primary-color !important;
		}
	}

	.company-name {
		color: white;
		font-family: Verdana, sans-serif;
		font-size: 1.4rem;
		font-weight: bolder;
		text-transform: uppercase;
		background-color: #69754e;
		padding: 0.2rem 0.4rem;
		margin: 0 auto 1rem auto;
		width: min-content;
	}

	.footer-links-title {
		font-size: 1.6rem;
		padding: 0.6rem;

		@include md {
			font-size: 1.4rem;
			padding: 0.4rem;
		}
	}

	.footer-image-wrapper {
		width: 100%;
		max-width: 220px;
		margin: 0 auto;

		@include md {
			max-width: 280px;
		}
	}
}
