@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;
@use '../mixins/animations.module.scss' as *;

.header {
	min-height: 100vh;

	.logo {
		width: 80%;
		margin: auto;
		max-height: 140px;
		box-sizing: content-box;
		// navigation bar height = 64 px
		padding: calc(50vh - 32px) 0;
		@include defaultFadeIn;

		@include md {
			max-height: 160px;
			padding: 4rem 2rem;
		}
	}

	.background {
		z-index: -1;

		.background-overlay {
			@include unclickable;
			background-image: url('../../public/assets/ui/theme-texture-gradient.png'),
				linear-gradient(to top, rgb(211, 166, 101, 0.9), rgb(211, 166, 101, 0.9));
			background-repeat: repeat-x, no-repeat;
			background-position: bottom, center;
			background-size: initial, cover;
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}

	.header-content {
		margin: 0 auto;
		display: flex;
		text-align: center;

		animation-name: slideIn;
		animation-duration: 1s;
	}

	.header-image-wrapper {
		@include centeredRow;
		position: relative;

		.header-button-wrapper,
		.header-button-overlay {
			position: absolute;
			top: 80%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.header-button {
			border-radius: 0;
			font-size: 1.5rem;
			padding: 0.4rem 2rem;
			width: 100%;
			min-width: 240px;
			margin-bottom: 0.25rem;
			display: flex;
			justify-content: left;

			@include clickable;

			.open-sea-icon {
				width: 46px;
				height: 38px;
			}

			.magic-eden-icon {
				margin-top: -4px;
			}

			svg {
				width: 40px;
				height: 32px;
				margin-right: 1rem;
			}
		}

		.header-button-overlay {
			@include unclickable;
			width: 460px;
			max-width: 100%;
			height: auto;
		}
	}

	.header-image {
		height: 520px;
		width: auto;
		padding-top: 4rem;
		@include unclickable;

		@include md {
			padding-top: 1rem;
			height: 620px;
		}
	}

	.header-text-wrapper {
		@include centeredColumn;
	}

	.header-text,
	.header-text span {
		text-align: center;
		font-size: 1.4rem;
		max-width: 520px;
		margin: 0 auto;

		@include sm {
			font-size: 1.6rem;
		}

		@include md {
			text-align: left;
			font-size: 1.8rem;
		}
	}
}
