@use '../mixins/common.module.scss' as *;
@use '../mixins/breakpoints.module.scss' as *;

.navigation {
	a {
		@include clickable;
		height: 32px;

		svg {
			height: 100%;
			width: auto;
		}
	}

	.navigation-links {
		margin-left: auto;

		> a:not(:last-child) {
			margin-right: 0.5rem;
		}
	}
}
